.DS_Store
.hgignore

build/*
.hg/*
docs/*
.svn/
DerivedData/
debug_workspace/*
Carthage/*
Products/*

.idea/*

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

.vscode

*.pyc

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/cache/

Pods/



